    @font-face {
        font-family: 'Geometria Thin';
        src: url(../font/Geometria-Thin.ttf);
    }
    
    @font-face {
        font-family: 'Geometria ExtraLight';
        src: url(../font/Geometria-ExtraLight.ttf);
    }

    @font-face {
        font-family: 'Geometria Light';
        src: url(../font/Geometria-Light.ttf);
    }

    @font-face {
        font-family: 'Geometria Medium';
        src: url(../font/Geometria-Medium.ttf);
    }

    @font-face {
        font-family: 'Geometria Bold';
        src: url(../font/Geometria-Bold.ttf);
    }

    @font-face {
        font-family: 'Geometria ExtraBold';
        src: url(../font/Geometria-ExtraBold.ttf);
    }

    @font-face {
        font-family: 'Geometria Heavy';
        src: url(../font/Geometria-Heavy.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow Thin';
        src: url(../font/Geometria-NarrowThin.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow Light';
        src: url(../font/Geometria-NarrowLight.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow Medium';
        src: url(../font/Geometria-NarrowMedium.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow Bold';
        src: url(../font/Geometria-NarrowBold.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow ExtraBold';
        src: url(../font/Geometria-NarrowExtraBold.ttf);
    }

    @font-face {
        font-family: 'Geometria Narrow Heavy';
        src: url(../font/Geometria-NarrowHeavy.ttf);
    }






